.btn-load-book,

.btn-load-book:active,
.btn-load-book:focus,
.btn-load-book:focus-visible,
.btn-load-book.show{
    all: unset;
     background-color: transparent  !important;
  border: none !important;                  
  box-shadow: none !important;             
  color: var(--blue) !important;               
  cursor: pointer;
  font-weight: 600;
}


.btn-submit:hover{
  background-color: var(--orange);
}
.btn-submit:active,
.btn-submit:focus,
.btn-submit:focus-visible,
.btn-submit.show,
.btn-submit{
  all: unset;
  background-color: var(--orange) !important;
  border-radius: 5px;
  box-shadow: none !important;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 15px;
  
}
