.single-book {
  width: 200px;
  height: 400px;
  overflow: hidden;
}
.coverBook {
  max-width: 200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 40px 20px -20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  margin-bottom: 35px;
}

.titleBook {
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin-top: 40px;
}

.coverBook:hover {
  transform: scale(1.08);
}

.coverBookDetail {
  height: 500px;
  width: 300px;
  box-shadow: 0 40px 20px -20px rgba(0, 0, 0, 0.5);
}
