.single-book{
    width: 200px;
    height: 400px;
    overflow: hidden;
}
.coverBook{
    max-width: 200px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 40px 20px -20px  rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.titleBook{
    padding: 0 20px;
    margin-top: 25px;
    text-align: center;
    font-weight: 400;
}

.coverBook:hover{
transform: scale(1.08);
}